.my-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 55px 200px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721ee3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E
}
